[Unit]
Description=Odoo Server
Requires=postgresql.service
After=network.target postgresql.service

StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/usr/local/bin/frpc -c /etc/%i.ini

[Install]
WantedBy=multi-user.target
